@import '../../colors.css';

@media only screen and (max-width: 576px) {
  .ListItem {
      background-color: var(--gray);
      height: 80px;
      border-radius: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
  }

  .Date {
      background-color: red;
      height: 100%;
      aspect-ratio: 1;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .Date > span {
      display: flex;
      align-items: center;
      justify-items: center;
      text-align: center;
  }

  .TrashDesc {
      background-color: aquamarine;
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 26px;
      margin-right: 30px;
      padding-left: 10px;
      padding-bottom: 10px;
  }
}

@media only screen and (min-width: 576px) {

    .ListItem {
        background-color: var(--gray);
        height: 80px;
        border-radius: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
    }

    .Date {
        background-color: red;
        height: 100%;
        aspect-ratio: 1;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Date > span {
        display: flex;
        align-items: center;
        justify-items: center;
        text-align: center;
    }

    .TrashDesc {
        background-color: aquamarine;
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 26px;
        margin-right: 30px;
        padding-left: 10px;
        padding-bottom: 10px;
    }

}

